{
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": ["error", "never", { "js": "always" }],
    "import/prefer-default-export": "off",
    "comma-dangle": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "settings": {
    "import/extensions": [".js", ".mjs", ".jsx"]
  }
}
